.rating {
  width: 20px;
}

.m {
  border: 1px solid rgb(233, 139, 72);
  height: 700px;
}

.rows-cont {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.col-8 {
  width: 100% !important;
}
.col-12 {
  width: 100% !important;
  height: 120px !important;
}
.icon-car {
  color: orange;
}

.buttons-car {
  height: 20px !important;
}
.card-body-2 {
  height: 500px !important;
}
.card-body-3 {
  height: 500px !important;
}
.card-body-4 {
  height: 450px !important;
}
.details-container-page {
  height: 500px !important;
}
#location-button {
  height: 50px !important;
  justify-content: center;
  margin-top: 20px !important;
  text-decoration: none !important;
  display: flex;
}
.list-item {
  margin-top: 25px !important;
  color: #2b2e4a;
}
