.ima {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-size: 80px !important;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      45deg,
      rgba(50, 47, 47, 0.47),
      rgba(79, 55, 11, 0.6)
    ),
    url(https://images.pexels.com/photos/8986100/pexels-photo-8986100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  flex-direction: column;
}
/* .maintain {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: " pacifico ", cursive;
  font-size: 70px !important;
  text-shadow: 4px 4px 2px rgba(151, 178, 14, 0.7);
} */
