.rent-item1 {
  padding: 30px;
  text-align: center;
  background: var(--light);
  border: 1px solid rgb(226, 226, 226);
  border-radius: 30px;
  transition: 0.1s;
}

.rent-item1:hover,
.rent-item1.active {
  background: rgb(246, 172, 77);
}
.rent-item1 i {
  transition: 0.1s;
}
.rent-item1 h4 {
  transition: 0.1s;
}
.font-weight-bold {
  transition: 0.1s;
}
.rent-item1 .img-fluid {
  margin: 0 !important;
  width: 350px !important;
  height: 250px !important;
  box-shadow: 0 4px 8px #000000 !important;
  height: auto;
  margin: 0 auto;
}
.rent-item1:hover .px-2,
.rent-item1.active .px-2 {
  color: var(--light) !important;
}
.rent-item1:hover i,
.rent-item1.active i {
  color: var(--light) !important;
}
.rent-item1:hover a,
.rent-item1.active a {
  color: var(--orange) !important;
  font-size: 18px !important;

  background-color: white !important;
}
.rent-item1:hover h4,
.rent-item1.active h4 {
  color: var(--white) !important;
}
.rent-item1:hover .card-name,
.rent-item1.active .card-name {
  color: var(--white) !important;
}
.px-2 i {
  color: rgb(246, 172, 77) !important;
}
.btn {
  background-color: rgb(246, 172, 77) !important;
  color: var(--light) !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  border: none !important;
}
.display-4 {
  font-weight: 700 !important;
}
.btns button {
  padding: 10px 25px !important;
}
.btns button:hover {
  color: rgb(246, 172, 77) !important;
  font-weight: 450 !important;
  background-color: white !important;
  border: 1px solid rgb(246, 172, 77) !important;
  padding: 10px 25px !important;
}
.cardddd {
  color: black !important;
  margin-bottom: 0 !important;
}
.rent-item1 h4,
.mb-4 {
  color: #2b2e4a !important;
}
.featured .featured-cars {
  margin-top: 70px !important;
  color: #2b2e4a;
}
.featured-cars-row {
  padding-top: 50px !important;
}
.owner-img {
  width: 70px !important;
  height: 70px !important;
}
