.welcome {
  font-weight: 700;
  font-size: 2.5rem;
}
.kalaks {
  font-weight: 600;
  color: rgb(238, 153, 41);
  font-size: 2.2rem;
}

.head {
  font-size: 1.9rem;
  margin-bottom: 30px;
}

.welcome-desc {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #2b2e4a;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 65px;
}

.old img {
  display: inline-flex;
  width: 20rem;
  margin-left: -150px;
  margin-top: 65px;
}
.looking {
  border: solid 0.15rem rgb(199, 195, 195);
  padding: 50px 25px;
  border-bottom-left-radius: 9%;
  border-top-right-radius: 9%;
}

.looking span {
  font-size: 1.7rem;
  font-weight: 700;
}

.looking h4 {
  margin-bottom: 25px;
}
.looking p {
  margin-bottom: 25px;
}

.looking div {
  padding-right: 108px;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #f29524;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.old {
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  img {
    width: 16rem !important;
  }
}
@media (max-width: 425px) {
  img {
    width: 11rem !important;
    height: 11rem !important;
    margin-left: -170px !important;
  }
  div .col {
    padding: 0 !important;
  }
  .looking {
    width: 400px !important;
  }
  .col {
    margin: 0 !important;
  }
}
@media (max-width: 375px) {
  img {
    width: 10rem !important;
    /* height: 10rem !important; */
  }
}
.welcome-title {
  color: #2b2e4a;
}
.welcome-car {
  color: #2b2e4a;
}
.welcome-car-par {
  color: #2b2e4a;
}
